<template>
  <div>
    <br>
    <b-form @submit="onSubmit" @reset="onReset" v-if="show">
      <b-form-group id="inputGroupGrade1"
                    label="ชื่อ"
                    label-for="inputName">
          <b-form-input id="inputName"
                        type="text"
                        v-model="form.Name"
                        required
                        placeholder="กรุณากรอกชื่อ">

          </b-form-input>
      </b-form-group>
      <b-form-group id="inputGroupGrade2"
                    label="คะแนน"
                    label-for="inputGradeNumber">
          <b-form-input id="inputGradeNumber"
                        type="number"
                        v-model="form.Score"
                        required
                        placeholder="กรุณากรอกคะแนน">
          </b-form-input>
      </b-form-group>
      <b-button type="submit" variant="primary">บันทึก</b-button>
      <b-button type="reset" variant="outline-success">แสดงเกรด</b-button>
    </b-form>
  </div>
</template>

<script>
  const moment = require('moment')
  export default {
    data() {
      return {
        title: "Test",
        form: {
          Name: '',
          Score: ''
        },
        show: true,
      }
    },
    methods: {
      checkGrade(score) {
        if(score < 50 ){
            return 'F';
        } else if(score >= 50 && score < 55){
            return 'D';
        } else if(score > 55 && score < 60){
            return 'D+';
        } else if(score >= 60 && score < 65){
            return 'C';
        } else if(score >= 65 && score <70){
            return 'C+';
        } else if(score >= 70 && score < 75){
            return 'B';
        } else if(score >= 75 && score <= 80){
            return 'B+';
        } else {
            return 'A';
        }
      },
      onSubmit(e) {
        e.preventDefault();
        let dataStringify = JSON.stringify(this.form)
        let dataParse =  JSON.parse(dataStringify)
        let Grade = { Grade: this.checkGrade(dataParse.Score) }
        let DateTime = { CreateDate: moment(Date.now()).format('MM/DD/YYYY') }
        const objData = Object.assign(dataParse, DateTime, Grade)
        this.$emit('addGrade', objData)
        this.form.Name = ''
        this.form.Score = ''
      },
      onReset(e) {
        e.preventDefault();
        this.$emit('showReport')
      }
    },
    components: {
    }
  }
</script>
