<template>
  <div>
    <b-jumbotron>
      Logs: {{ value }}
    </b-jumbotron>
  </div>
</template>

<script>
  export default {
    props: ['value'],
    data() {
      return {
        title: 'JsonViewer'
      }
    }
  }
</script>

<style scoped>

</style>
