<template>
  <div>
    <br>
      <h4>{{title}}</h4>
    <hr>
    <b-table striped hover :items="gridGrade" :fields="fields"></b-table>
  </div>
</template>

<script>
  export default {
    props: ['gridGrade'],
    data() {
      return {
        title: 'Report Grade',
        fields: [
          {
            key: 'Name',
            sortable: true
          },
          {
            key: 'Score',
            sortable: true
          },
          {
            key: 'CreateDate',
            label: 'Create Data',
            sortable: false
          },
          {
            key: 'Grade',
            label: 'Grade',
            sortable: true,
            variant: 'primary'
          }
        ],
        items: [
          { isActive: true, age: 40, first_name: 'Dickerson', last_name: 'Macdonald' },
          { isActive: false, age: 21, first_name: 'Larsen', last_name: 'Shaw' },
          { isActive: false, age: 89, first_name: 'Geneva', last_name: 'Wilson' },
          { isActive: true, age: 38, first_name: 'Jami', last_name: 'Carney' }
        ]
      }
    }
  }
</script>
