<template>
  <div>
      <ul>
        <li v-for="g in grade">
          <b>{{ g.score }}</b>
          <ul>
            <li>{{ g.detail }}</li>
          </ul>
        </li>
      </ul>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        grade: [
          {score: 'F', detail: "Score < 50"},
          {score: 'D', detail: "Score 50 - 55"},
          {score: 'D+', detail: "Score 55 - 60"},
          {score: 'C', detail: "Score 60 - 65"},
          {score: 'C+', detail: "Score 65 - 70"},
          {score: 'B', detail: "Score 70 - 75"},
          {score: 'B+', detail: "Score 75 - 80"},
          {score: 'A', detail: "Score 80 - 100"}
        ]
      }
    }
  }
</script>

<style scoped>

</style>
